<div class="my-3">
  {{ form_start(form) }}

  <div>
      {{ form_errors(form) }}
  </div>

  <div class="d-flex form-group">

    {% if
      not searchBar is defined
      or searchBar == 'full'
      or searchBar == ''
    %}
      {% set DateSearchVisibility = '' %}
      {% set StringSearchVisibility = '' %}

    {% elseif searchBar == 'date' %}
      {% set DateSearchVisibility = '' %}
      {% set StringSearchVisibility = 'inputFormInvisible' %}
    {% endif %}

    {{ form_row(form.type) }}

    {% include 'base/form/label.html.twig' with {'input': form.from, 'visibility' : DateSearchVisibility} %}
    {% include 'base/form/input.html.twig' with {'input': form.from, 'visibility' : DateSearchVisibility} %}

    {% include 'base/form/label.html.twig' with {'input': form.to, 'visibility' : DateSearchVisibility} %}
    {% include 'base/form/input.html.twig' with {'input': form.to, 'visibility' : DateSearchVisibility} %}

    {% include 'base/form/label.html.twig' with {'input': form.artistName, 'visibility' : StringSearchVisibility} %}
    {% include 'base/form/input.html.twig' with {'input': form.artistName, 'visibility' : StringSearchVisibility} %}

    {% include 'base/form/label.html.twig' with {'input': form.trackName, 'visibility' : StringSearchVisibility} %}
    {% include 'base/form/input.html.twig' with {'input': form.trackName, 'visibility' : StringSearchVisibility} %}

    {% include 'base/form/label.html.twig' with {'input': form.albumName, 'visibility' : StringSearchVisibility} %}
    {% include 'base/form/input.html.twig' with {'input': form.albumName, 'visibility' : StringSearchVisibility} %}

    {{ form_end(form, {'render_rest': false}) }}

    {{ form_widget(form._token) }}

    <div class="mx-3 d-flex align-items-center"><button type="submit" class="btn btn-sm btn-primary">Find</button></div>

  </div>

  {{ form_end(form) }}
</div>