<div class="d-flex align-items-center">
  <input type="{{ input.vars.type is defined ? input.vars.type : 'input'}}" id="{{ input.vars.id }}" name="{{ field_name(input) }}" {{ input.vars.required ? 'required="required"' }}
         value="{{ input.vars.value }}" class="form-control-sm {{ input.vars.required ? 'required' }} {{ visibility }}"> {{ form_help(input) }}{{ form_errors(input) }}
</div>