{% extends 'base.html.twig' %}

{% block title %}New Statistic{% endblock %}

{% block body %}
    <div class="container">

        <div>

            {{ form_start(form) }}
            {{ form_row(form.typeWidget) }}
            {{ form_row(form.subTypeWidget) }}
            {{ form_row(form.wording) }}
            {{ form_row(form.comment) }}
            <div class="row d-flex justify-content-center">
                <div class="col-auto"></div>
                <div class="col-2">{{ form_row(form.fontColor) }}</div>
                <div class="col-2">{{ form_row(form.backgroundColor) }}</div>
                <div class="col-auto"></div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(form) }}



        </div>
    </div>

{% endblock %}