<div>
  <ul>
    {% for artist in artists %}
      <li>


        <div class="card" style="width: 18rem;">
          {% for image in artist.image %}
            {% if image.size == 3 %}
              <img src="{{ image.url }}" class="card-img-top" alt='{{ artist.name }}'>
            {% endif %}
          {% endfor %}
          <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
            <p class="card-text">{{ artist.bioSummary|u truncate(150) }} ...</p>
            <a href="#" class="btn btn-primary">More ...</a>
          </div>
        </div>

      </li>
    {% endfor %}
  </ul>
  {{ knp_pagination_render(scrobbles) }}

</div>
