<div class="container text-center">
  <div class="row">

    {% for album in albums %}
      {#  TODO : Use a child template for album card (GrafikArt video : https://www.youtube.com/watch?v=4uYpFjfUUbc&t=302s)  #}
      <div class="col mb-3">
        <div class="card" style="width: 18rem;">
          {% for image in album[0].image %}
            {% if image.size == 3 %}
              {% if userPlaycount is defined and userPlaycount == 1 %}
                <span>{{ album.count }} scrobbles</span>
              {% endif %}
              <img src="{{ image.url }}" class="card-img-top" alt='{{ album[0].name }}' style="width: 286px">
            {% endif %}
          {% endfor %}
          <div class="card-body">
            <h5 class="card-title">{{ album[0].name }}</h5>
            <p class="card-text">from <span style="font-weight: bold;">{{ album[0].artist.name }}</span></p>
            <a href="#" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="row">
      <div class="col">
        {% if pagination is defined and pagination == 1 %}
          {{ knp_pagination_render(albums) }}
        {% endif %}
      </div>
    </div>
  </div>

</div>
