{% extends 'base.html.twig' %}

{% block title %} - Import from LastFm{% endblock %}

{% block body %}
  <div>
    <h1>My Account</h1>
  </div>

  <div>

    <h2 class="mt-4" style="display: inline-block">Import status</h2><a href="/myPage/myScrobbles"><span style="margin-left: 10px"><a href="{{ path('app_import') }}">refresh...</a></span>

    <div>{{ importStatusMessage }}</div>
    {% include 'base/progressBar.html.twig' with {'proportion': importStatusProportion} %}

    <h2 class="mt-4">Last imports</h2>

    <p style="font-style: italic">Each import is a task that get scrobbles from LastFm to the database. Each task can only import 5 000 scrobbles at a time.</p>

    {% if imports is empty %}
      <p>No imports yet</p>
    {% else %}
      <ul>
        {% for import in imports %}

          {# If import is not started > import is in error > import is finalized > import is in progress #}

          {% if import.started == false %}
            {% set infoMessage = "Task not started" %}
          {% elseif import.error == true %}
            {% set inProgress = 0 %}
            {% set infoMessage = "Task aborted with error : " ~ import.errorMessage ~ " (imported scrobble(s) :  " ~ import.finalizedScrobble ~ ")" %}
          {%  elseif import.finalized == true %}
            {% set inProgress = 100 %}
            {% set infoMessage = "Task finalized, " ~ import.finalizedScrobble ~ " scrobble(s) imported" %}
          {% else %}
            {% set inProgress = import.inProgress %}
            {% set infoMessage = "Task in progress, " ~ import.finalizedScrobble ~ " scrobble(s) imported out of " ~ import.totalScrobble %}
          {% endif %}

          <li>
            <div class="d-flex my-2">
              <div class="col-8">{{ import.date|date('m/d/Y H:i:s') }} - {{ infoMessage }}</div>
              <div class="col-4 pt-2">
                {% if inProgress is defined %}
                  {% include 'base/progressBar.html.twig' with {'proportion': inProgress} %}
                {% endif %}
              </div>
            </div>
          </li>


        {% endfor %}
      </ul>
    {% endif %}

  </div>

  <div>
    <h2 class="mt-4">Get last scrobbles from Last Fm</h2>
    <p><a href={{ path('app_update_scrobble') }}>Start import</a></p>

    {% if dev == 'dev' %}
    <p><a href={{ path('app_update_scrobble_now') }}>Start import [NO QUEUE - DEV]</a></p>
    {% endif %}

  </div>

{% endblock %}