<div>
  {{ form_start(form) }}

  <div>
    {% if form is rootform %}
      {{ form_errors(form) }}
    {% endif %}
  </div>

  <div>
    {{ form_row(form.type) }}
{#    {{ form_row(form.type, {'attr': {'class': 'foo'}}) }}#}

    <label for="{{ form.from.vars.id }}" class="{{ form.from.vars.required ? 'required' }}">
      {{ field_label(form.from) }}
    </label>
    <input type="{{ form.from.vars.type }}" id="{{ form.from.vars.id }}" name="{{ field_name(form.from) }}" required="{{ form.from.vars.required ? 'required' }}"
           class="{{ form.from.vars.required ? 'required' }}">{{ form_help(form.from) }}{{ form_errors(form.from) }}

    <label for="{{ form.to.vars.id }}" class="{{ form.to.vars.required ? 'required' }}">
      {{ field_label(form.to) }}
    </label>
    <input type="{{ form.to.vars.type }}" id="{{ form.to.vars.id }}" name="{{ field_name(form.to) }} required="{{ form.to.vars.required ? 'required' }}"
           class="{{ form.to.vars.required ? 'required' }}">{{ form_help(form.to) }}{{ form_errors(form.to) }}

    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-primary">Find</button>

  </div>

  {{ form_end(form, {'render_rest': false}) }}
</div>
