<tbody>

{% for scrobble in tbody %}

  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

    <td class="px-6 py-4">
      {% for image in scrobble.track.image %}
        {% if image.size == 1 %}
          <a href="{{ scrobble.track.name|youtubeSearchLink(scrobble.track.artist.name) }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ asset('imgs/youtube.png') }}" style="width: 34px" alt="Search on Youtube" class="inline-block mr-3">
          </a>
          <img src='{{ image.url }}' alt='{{ scrobble.track.name }}' class="inline-block mr-3">
          <img src='{{ asset('imgs/not-liked.png') }}' style="width: 34px" alt='i like' class="inline-block mr-3">

        {% endif %}
      {% endfor %}
    </td>

    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ scrobble.track.name }}</th>

    <td class="px-6 py-4">{{ scrobble.track.artist.name }}</td>

    <td class="px-6 py-4">{{ scrobble.track.album.name }}</td>

    <td class="px-6 py-4">{{ scrobble.timestamp|date('m/d/Y H:i:s') }}</td>

  </tr>

{% endfor %}

</tbody>