{% extends 'base.html.twig' %}

{% block title %}My Page{% endblock %}

{% block body %}
  <div>
    <h1>My Page</h1>
  </div>


  {% if notification is defined %}
    <div class="alert alert-info">{{ notification }}</div>
    <hr>
  {% endif %}

  <div>
    <h2>INFOS</h2>
    {% for info, valueInfo in userPageInfo %}
      <p>{{ info }} : {{ valueInfo }}</p>
    {% endfor %}
  </div>

  <div>
    <h2>Last scrobbles</h2>
    <div>
      <ul>
        {% for scrobble in scrobbles %}
          <li>

            {% for image in scrobble.track.image %}
              {% if image.size == 1 %}
                <img src='{{ image.url }}' alt='{{ scrobble.track.name }}'>
              {% endif %}
            {% endfor %}

            <span class="bold">{{ scrobble.track.name }} </span>
            from
            <span class="bold">{{ scrobble.track.artist.name }} </span>
            in
            <span>"{{ scrobble.track.album.name }}" album - </span>
            {{ scrobble.timestamp|date('m/d/Y H:i:s') }}

          </li>
        {% endfor %}
      </ul>
      {{ knp_pagination_render(scrobbles) }}

    </div>
  </div>
{% endblock %}